*, *::before, *::after {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400; /* Regular */
}

.App {
  text-align: center;
  background: #f0f0f0
}
.Body{
  z-index: 0;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.DivApiSessaoSobreNos{
  height: 70vh;
  background: #f0f0f0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SeparadorDeSessoes{
  margin-top: 1px;
  height: 1.5px;
  width: 100%;
  background: #ffa600;
}

@keyframes SlideLeft {
  0% {
      margin-left: 120%;
  }

  100% {
      margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
      margin-left: 0;
  }

  100% {
      margin-left: 120%;
  }
}



@media (max-width: 740px) {
  .DivApiSessaoSobreNos{
    height: 60vh;
  }
}

@media (max-width: 460px) {
  .DivApiSessaoSobreNos{
    height: 50vh;
  }
}