.SessaoSobreNos{
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    max-height: 100%;
}

.LinhaCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding-top: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    gap: 30px; 
}

.TituloSessao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    font-size: 24px;
  }
  .TituloSessao div{
    background-color: #2424247e;
    height: 2px;
    width: 110%;
  }




  /**********************************************************************************************************************************************/


.corpo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    flex: 1;    
    padding-top: 4vh;
  }

  .TextoDescricoes {
    position: relative;
    align-self: stretch;
    font-size:1vw;
    height: auto;
    min-height: auto;   
    overflow: auto;
    white-space: pre-wrap; 
  }
  .DivDescricao {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding: 10px;
  }

  .TextoHistorico {
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .DivHistorico,
  .TextoHistorico{
    align-self: stretch;
    display: flex;
  }
  .DivHistorico {
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 2vw; 
  }
  
  .imagens {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
  }


  .DivInformacoes {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    /* gap: 10px; */
    align-self: stretch;
    overflow: hidden;
  }


  .DivImagemSobreNos {
    align-self: stretch;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;    
    width: 50%;
    justify-content: center;
  }

  .ImagemSobreNos {   
    position: relative;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    width: 70%;
    object-fit: cover;
  }



  @media (max-width: 940px) {
    .DivImagemSobreNos {
      width: 35%;
    }
    .DivInformacoes{
      width: 65%;
    }
    .DivHistorico{
      font-size: 3vw;
    }
    .TextoDescricoes{
      font-size: 1.5vw;
    }
  }

  @media (max-width: 450px) {
   .LinhaCards{
    width: 95%;
    }
  
    .DivImagemSobreNos{
      visibility: hidden;
      width: 0px;
    }

    .DivInformacoes{
      width: 100%;
    }

    .DivHistorico{
      font-size: 5vw;
    }

    .TextoHistorico{
      font-size: 3.8vw;
      font-weight: bold;
    }

    .TextoDescricoes{
      font-size: 2.5vw;
    }
  }