.CardTeste {
    display: flex;
    align-items: center;
    background: transparent;
    cursor: pointer; 
    width: 100%;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .Imagem {
    cursor: pointer; 
    width: 2vw; 
    height: 2vw;
    margin-right: 10px; 
  }
  
  .Informacoes {
    cursor: pointer; 
    display: flex;
    align-items: center;
  }
  
  .Titulo {
    cursor: pointer; 
    color: #333;
    font-size: 0.8vw;
    transition: color 0.3s; 
  }
  
  .CardTeste:hover .Titulo {
    color: #ff9900;
  }

  @media (max-width: 940px) {
    .Titulo {
      font-size: 1.5vw;
    }.Imagem {
      width: 3vw; 
      height: 3vw;
    }
  }

  @media (max-width: 450px) {
    .Titulo {
      font-size: 1.7vw;
    }.Imagem {
      width: 4vw; 
      height: 4vw;
    }
  }