.active{
    background-color: #1d4ed8;
}

nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    flex-direction: row;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
    padding: 0.5rem; 

    box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.7);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color:#172554 ;
}

.ButtonMenu{
    background-color:#ffaf03 ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


.ButtonMenu {
    background-color: transparent;
    color: #919191; /* Cor do texto padrão */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px ;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .ButtonMenu:focus,
  .ButtonMenu:hover {
    color: #ff9900; /* Cor do texto quando hover */
    outline: none;
  }
  
  .ButtonMenu.active {
    color: #ff6600; /* Cor do texto quando ativo */
  }


@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}