.CardProduto {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 450px;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.DivImagem {
  flex-grow: 1;
  width: auto;
  height: auto;
  position: relative;
  margin: 10px 10px 5px 10px;
  text-align: center;
}

.ImagemProduto {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

.DivImagem:hover .Overlay {
  opacity: 1;
}

.Textos {
  padding: 5px;
  background: white;
  text-align: center;
  z-index: 1;
  position: relative;
  order: 2;
}

.Titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.TextoComplementar {
  font-size: 14px;
  color: #555;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: white;
  position: relative;
  order: 3;
  gap: 10px;
}