.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carouselimages {
    display: flex;
    height: 100%;
  }
  
  .carouselimage {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .leftarrow,
  .rightarrow {
    width: 8%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.05);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
  }
  
  .leftarrow {
    left: 0px;
  }
  
  .leftarrow:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  }
  
  .rightarrow {
    right: 0px;
  }
  
  .rightarrow:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .carouselimage.active {
    animation: fade-in 1s forwards;
  }